@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  /* @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  } */

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  @import './fonts.css';

  /* Other global styles */
  body {
   
      margin: 0;
      /* Additional global styles */
      
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}


.bg-primary{
  background-color:#F4EEE1;
}
.imageBg{
  background-image:url('/images/ai-img.png');
 
  object-fit : cover;
  /* height: 100%; */
  width: 100%;
background-size: cover;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
}
.el-messiri-titleOne {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


::-webkit-scrollbar-track {
  background-color: transparent;
}



::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

html body[data-scroll-locked]{
  overflow: visible !important;
  margin-right: 0 !important;
}

.borderless-flags-select .ReactFlagsSelect__button {
  border: none !important;
  box-shadow: none !important;
}

.borderless-flags-select .ReactFlagsSelect__select {
  border: none !important;
}

/* Custom styles for the ReactFlagsSelect component */
.custom-flags-select {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  width: 100%;
  border: none !important;
}

.custom-flags-select .ReactFlagsSelect__select {
  border: none;
  background-color: transparent;

}

.custom-flags-select .ReactFlagsSelect__button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none !important;
}

.custom-flags-select .ReactFlagsSelect__option {
  padding: 8px 12px;
  color: #333;
  background-color: #f0f0f0;
  transition: background-color 0.2s;
  border: none !important;
}

.custom-flags-select .ReactFlagsSelect__option:hover {
  background-color: #e0e0e0;
  border: none !important;
}
.custom-flags-select .module_selectBtn {
  border: none !important;
}

/* StoreSelector.css */

/* Remove the border from the ReactFlagsSelect button */
.ReactFlagsSelect .ReactFlagsSelect__button {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent; /* Optional: To make the background transparent */
}

/* Additional customization, if needed */
.ReactFlagsSelect .ReactFlagsSelect__options {
  border: none !important;
  box-shadow: none !important;
}
.ReactFlagsSelect button {
  border: none !important;
  box-shadow: none !important;
  text-align: center;
  color: black;
}

.ReactFlagsSelect ul {
  border: none !important;
  box-shadow: navajowhite;
  text-align: center;
 border-radius: 10px;
}

/* styles/globals.css */

/* Spinner styles */
.loader {
  border: 6px solid #f3f3f3; /* Light gray */
  border-top: 6px solid #ffd500; /* Black */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.carousel {
  margin-top: -80px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel .list {
  height: 100%;
  position: relative;
}

.carousel .list::before {
  position: absolute;
  width: var(--w-image);
  height: 100%;
  content: '';
  top: 0;
  left: calc(100% - calc(var(--w-image) * var(--calculate)));
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  z-index: 10;
  pointer-events: none;
}

.carousel .list::after {
  position: absolute;
  top: 50px;
  left: 50px;
  content: '';
  background-color: red;
  width: 400px;
  height: 300px;
  z-index: 10;
  pointer-events: none;
  border-radius: 20px 50px 110px 230px;
  filter: blur(150px);
  opacity: .6;
}

.carousel .list .item {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
}

.carousel .list .item .image {
  width: var(--w-image);
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(100% - calc(var(--w-image) * var(--calculate)));
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-weight: 500;
}

.carousel .list .item .image img {
  width: 90%;
  margin-bottom: 20px;
  filter: drop-shadow(0 150px 50px #9e0c0c55);
}

.carousel .list .item .image figcaption {
  font-family: 'Aboreto';
  font-weight: bold;
  font-size: 1.3em;
  text-align: right;
  margin-bottom: 30px;
  width: 70%;
}

.carousel .list .item .main-content {
  height: 100%;
  display: grid;
  grid-template-columns: calc(100% - calc(var(--w-image) * var(--calculate)));
}

.carousel .list .item .main-content .content {
  padding: 150px 20px 20px 80px;
}

.carousel .list .item .main-content .content h2 {
  font-size: 5em;
  font-family: 'Aboreto';
}

.carousel .list .item .main-content .content .price {
  font-family: 'Aboreto';
  font-size: 3em;
  margin: 20px 0;
}

.carousel .list .item .main-content .content .description {
  max-width: 80%;
}

.carousel .list .item .main-content .content .addToCard {
  background-color: #869f4b;
  color: #fff;
  padding: 10px 30px;
  font-family: Poppins;
  font-size: large;
  font-weight: 500;
  border-radius: 30px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.arrows {
  position: absolute;
  bottom: 20px;
  width: calc(100% - calc(var(--w-image) * var(--calculate)));
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: 50px;
  justify-content: end;
  gap: 10px;
}

.arrows button {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: #fff;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  line-height: 0;
  box-shadow: 0 10px 40px #5555;
  cursor: pointer;
  transition: 0.5s;
}

.arrows button:hover {
  background-color: #eee5;
}

.carousel .list .item {
  display: none;
}

.carousel .list .item.active,
.carousel .list .item.other_1,
.carousel .list .item.other_2 {
  display: block;
}

.carousel .list .item.active {
  z-index: 2;
}

.carousel .list .item.other_1,
.carousel .list .item.other_2 {
  pointer-events: none;
}

.carousel .list .item.active .main-content {
  animation: showContent 1s ease-in-out 1 forwards;
}

@keyframes showContent {
  from {
      clip-path: circle(0% at 70% 50%);
  }
  to {
      clip-path: circle(100% at 70% 50%);
  }
}

.next .item.other_1 {
  z-index: 1;
}

.next .item .image img,
.next .item .image figcaption {
  animation: effectNext .5s ease-in-out 1 forwards;
}

@keyframes effectNext {
  from {
      transform: translateX(calc(var(--transform-from)));
  }
  to {
      transform: translateX(calc(var(--transform-from) - var(--w-image)));
  }
}

.next .item.active .image {
  --transform-from: var(--w-image);
}

.next .item.other_1 .image {
  z-index: 3;
  --transform-from: 0px;
  overflow: hidden;
}

.next .item.other_2 .image {
  z-index: 3;
  --transform-from: calc(var(--w-image) * 2);
}

.arrows {
  z-index: 10;
}

.prev .list .item .image img,
.prev .list .item .image figcaption {
  animation: effectPrev 0.5s ease-in-out 1 forwards;
}

@keyframes effectPrev {
  from {
      transform: translateX(calc(var(--transform-from)));
  }
  to {
      transform: translateX(calc(var(--transform-from) + var(--w-image)));
  }
}

.prev .list .item.active .image {
  --transform-from: calc(var(--w-image) * -1);
  overflow: hidden;
}

.prev .list .item.other_1 .image {
  --transform-from: 0px;
  z-index: 3;
}

.prev .list .item.other_2 .image {
  z-index: 3;
  --transform-from: var(--w-image);
}

.prev .list .item.other_2 .main-content {
  opacity: 0;
}

@media screen and (max-width: 1023px) {
  :root {
      --calculate: 1;
      --w-image: 400px;
  }
  .carousel .list .item .main-content .content h2 {
      font-size: 3em;
  }
}

@media screen and (max-width: 767px) {
  .carousel .list .item .image {
      width: 100%;
      left: 0;
      justify-content: center;
  }
  .carousel .list .item .image figcaption {
      color: #fff;
      width: 100%;
      text-align: center;
  }
  .carousel .list .item .main-content .content {
      display: none;
  }
  .arrows {
      left: 50%;
      justify-content: center;
  }
}